.adminPage{
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieInputForm{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid white;
    gap: 10px;
    width: 30%
}